Q-5) Compute the area of a triangle with base 10 and height 12. Recall that the area of a triangle is half the base times the height.

In [20]:
# Area of triangle 
b = 10 
h = 12 
A = 1/2 * b * h
print(f"Area of Traingle is",A)

Area of Traingle is 60.0

Q-6) Compute the surface area and volume of a cylinder with radius 5 and height 3.

In [27]:
# Cylinder
r = 5
h = 3

# Surface area = 2*pi*r*h + pi*r**2
Surface_area = 2* math.pi * r * h + math.pi * r**2
volume = math.pi * r**2 * h
print(f"Surface Area of Cylinder is {Surface_area} unitsq\nVolume of Cylinder is {volume} unitsq")

Surface Area of Cylinder is 172.7875959474386 unitsq
Volume of Cylinder is 235.61944901923448 unitsq

Q-7) Compute the slope between the points (3,4) and (5,9).

In [29]:
#slope 
slope = (9-4)/(5-3)
print(f"Slope is {slope}")

Slope is 2.5

Q-8) Compute the distance between the points (3,4)
 and (5,9)

In [31]:
#distance between two points 
x1 = 3
x2 = 5
y1 = 4
y2 = 9

distance = ((x1-x2)**2 + (y1-y2)**2)**(1/2)
print(f"The distnce between two points is {distance}")

The distnce between two points is 5.385164807134504

Q-9) Use Pythonâ€™s factorial function to compute 6!

In [35]:
import math
fact = math.factorial(6)

print(f"Factorial of 6 is {fact}")

Factorial of 6 is 720

Q-10) A year is considered to be 365 days long. However, a more exact figure is 365.24 days. As a consequence, if we held to the standard 365-day year, we would gradually lose that fraction of the day over time, and seasons and other astronomical events would not occur as expected. A leap year is a year that has an extra day, February 29, to keep the timescale on track. Leap years occur on years that are exactly divisible by 4, unless it is exactly divisible by 100, unless it is divisible by 400. For example, the year 2004 is a leap year, the year 1900 is not a leap year, and the year 2000 is a leap year.
Compute the number of leap years between the years 1500 and 2010.